@import 'componentImport';

.button {
	padding: 13px 35px;
	letter-spacing: 1.6px;
	font-family: Montserrat;
	font-weight: 600;
	transition: all 0.15s;
	border-radius: 5px;
	transition: all 0.15s;
	vertical-align: top;
	line-height: 1em;
}

.layout-desktop {
	height: 100%;
	display: inline-block;
}


.theme-primary {
	color: $btn-primary_color;
	text-decoration: none;
	border: none;
	background-color: $btn-primary_bg-color;
	text-transform: uppercase;

	&:hover {
		text-decoration: none;
		outline: 0;
		background-color: $btn-primary-hover_bg-color;
		color: $btn-primary-hover_color;
		transition: all 0.15s;
		opacity: 1.0;
	}
}
.status-submitting {
	position: relative;
	color: $btn-primary_bg-color;

	&:hover {
		color: $btn-primary-hover_bg-color !important;
	}

	&::after {
		content: "";
		position: absolute;
		top: 45%;
		left: 45%;
		width: 10%;
		height: 10%;
		background: $btn-primary_color;
		animation: sk-rotate 1.2s infinite ease-in-out;
	}

	@keyframes sk-rotate {
		0% { 
		transform: rotate(0deg);
		} 50% { 
		transform: rotate(180deg);
		} 100% { 
		transform: rotate(360deg);
		}
	}
}
