.loader {
	width: 120px;
	height: 120px;
	position: relative;
	&::after {
		content: "";
		position: absolute;
		top: 45%;
		left: 45%;
		width: 10%;
		height: 10%;
		background: black;
		animation: sk-rotate 1.2s infinite ease-in-out;
	}

	@keyframes sk-rotate {
		0% { 
		transform: rotate(0deg);
		} 50% { 
		transform: rotate(180deg);
		} 100% { 
		transform: rotate(360deg);
		}
	}

}